html{

  margin:25px;
  width: auto;
  background-image: url("img/harryP.jpg");
  background-size:1000px;


}
body{
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 70px;

}
section {
  color: black;
  font-size: 30px;
  width: 500px;
  margin: 5px;
  text-align: center;
  line-height: 300px;
  background: grey;
  margin:20px;
  border-radius: 5px;
}
button {
  background: grey;
  color: #fff;
  font-family: 'Cinzel', serif;
  font-size: 15px;
  height: 70px;
  width: 190px;
  line-height: 60px;
  margin: 25px 25px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;

}
button:hover {
  background: rgb(33,	37,	43);
}
#quiz {
  font-family: 'Cinzel', serif;
  font-size: 35px;
}
