html{
  background-color:#fff;
  margin:150px;
}
body{
  margin: 0 auto;
  text-align: center;
  /*font-family: 'Archivo', sans-serif;*/
}
section {
  color: black;
  font-size: 30px;
  width: 500px;
  margin: 5px;
  text-align: center;
  line-height: 300px;
  background: grey;
  margin:20px;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 40px;
  background: grey;
  border: none;
  text-align: center;
}
button:hover {
  background: lightsalmon;
}
#hint{
  
  color:black;
  font-size: 20px;
  text-align: center;
  background-color: white;
  }
